<script type="text/javascript">
    RED.nodes.registerType('16io1w inputs',{
        category: 'JoRaBo',
        color: '#FFED00',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:16,
        outputLabels: ['Input 1','Input 2','Input 3','Input 4','Input 5','Input 6','Input 7','Input 8','Input 9','Input 10','Input 11','Input 12','Input 13','Input 14','Input 15','Input 16'],
        icon: "serial.png",
        label: function() {
            return this.name||"16IO1W Inputs";
        }
    });
</script>

<script type="text/x-red" data-template-name="16io1w inputs">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="16io1w inputs">
    <p>Gets state of the digital inputs on the 16IO1W board</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('16io1w set outputs',{
        category: 'JoRaBo',
        color: '#FFED00',
        defaults: {
            name: {value:""},
            digitalOutputs: {value: []},
        },
        inputs:1,
        outputs:0,
        icon: "serial.png",
        label: function() {
            return this.name||"16IO1W Set Outputs";
        },
        oneditprepare: function() {
            var node = this;
            /**
             * prepare schedule
             */
            var outputsList = $('#node-16io1w-outputs');
            outputsList.css('min-height','110px').css('min-width','350px').editableList({
                sortable: false,
                removable: true,
                addItem: function(row, index, data) {
                    output = data.output || false;
                    var template = $("script[data-template-16io1w-outputs-row]").html()||"";
                    $(row).append(template);
                    fillOptions(row, output);
                    outputsResize();
                },
                removeItem: function(data) {
                    outputsResize();
                }
            });
            /**
             * pass all existing schedules to editableList or pass an empty one
             */
            if (node.digitalOutputs.length == 0) {
                outputsList.editableList('addItem');
            } else {
                for (var i=0; i < node.digitalOutputs.length; i++) {
                    var output = node.digitalOutputs[i];
                    outputsList.editableList('addItem', {output:output,i:i} );
                }
            }
            /**
             * resize the editableList
             */
            function outputsResize() {
                height = 40 + (outputsCount() * 93);
                outputsList.editableList('height', height);
            }
            /**
             * number of schedules
             * @returns {*}
             */
            function outputsCount() {
                return outputsList.editableList('length');
            }
            /**
             * fill the selects with hours/minutes/seconds
             * @param row
             */
             function fillOptions(row, output) {
                output = output ? output : { output:1,action:'on' };
                /**
                 * set the value of the select boxes
                 */
                row.find('.node-input-output').val(output.output);
                row.find('.node-input-action').val(output.action);
            }
        },

        oneditsave: function() {
            var node = this;
            node.digitalOutputs = [];
            var outputsList = $('#node-16io1w-outputs');
            var outputs = outputsList.editableList('items');
            outputs.each(function(i) {
                var output  = this.find('.node-input-output').val();
                var action  = this.find('.node-input-action').val();
                var _output = {
                    output: output,
                    action: action
                };

                node.digitalOutputs.push(_output);

            });
        },

    });
</script>

<script type="text/x-red" data-template-name="16io1w set outputs">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row" style="margin-bottom: 2px;">
        <p class="text-center"><i class="fa fa-list"></i>&nbsp;<strong>Outputs</strong></p>
    </div>
    <div class="form-row node-16io1w-outputs-row">
        <ol id="node-16io1w-outputs"></ol>
    </div>
    <hr>
</script>

<script type="text/x-red" data-template-16io1w-outputs-row="">
    <div class="form-row">
        <label style="display: inline-block; width: 15%;">Output</label>
        <select class="node-input-output" style="display: inline-block; width: 25%;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
        </select>
        <div style="display: inline-block; width: 10%;"></div>
        <label style="display: inline-block; width: 15%">Action</label>
        <select class="node-input-action"style="display: inline-block; width: 25%;">
            <option value="on">On</option>
            <option value="off">Off</option>
            <option value="toggle">Toggle</option>
        </select>
    </div>
</script>

<script type="text/x-red" data-help-name="16io1w set outputs">
    <p>Set one or more digital outputs on the 16IO1W board</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('16io1w get outputs',{
        category: 'JoRaBo',
        color: '#FFED00',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:16,
        outputLabels: ['Output 1','Output 2','Output 3','Output 4','Output 5','Output 6','Output 7','Output 8','Output 9','Output 10','Output 11','Output 12','Output 13','Output 14','Output 15','Output 16'],
        icon: "serial.png",
        label: function() {
            return this.name||"16IO1W Get Outputs";
        }
    });
</script>

<script type="text/x-red" data-template-name="16io1w get outputs">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="16io1w get outputs">
    <p>Gets state of the digital outputs on the 16IO1W board</p>
</script>
